---
name: flux-diff-devenv

on:
  pull_request:
    branches:
      - main
    paths:
      - oci/**.yaml

# jobs:
#   flux-diff-devenv:
#     permissions:
#       contents: read
#       pull-requests: write
#     uses: strg-at/github-workflows/.github/workflows/flux-diff.yaml@feature/INPRO-2219-update-flux-diff
#     with:
#       runner: '["ubuntu-latest"]'
#       paths: '["oci"]'
#       sources: kind-flux-demo=./oci
#       flux-cluster-repo-owner: jazzlyn
#       flux-cluster-repo: kind-flux-test
#       devenv-oci-path: oci
#     secrets:
#       github-app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
#       github-app-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
jobs:
  flux-diff-devenv:
    runs-on: jazzlyn-kind-flux-demo-runner
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        paths: ["oci"]
        resources: ["helmrelease", "kustomization"]
      fail-fast: false
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
          owner: ${{ github.repository_owner}}

      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          path: pull

      # https://github.com/marketplace/actions/checkout
      - name: checkout default branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: ${{ github.event.repository.default_branch }}
          path: default

      # https://github.com/marketplace/actions/checkout
      - name: checkout flux-cluster
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: jazzlyn/kind-flux-demo
          path: pull/oci/kind-flux-demo

      # https://github.com/marketplace/actions/checkout
      - name: checkout flux-cluster default branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: jazzlyn/kind-flux-demo
          path: default/oci/kind-flux-demo

      # https://github.com/alexellis/arkade-get
      - name: install flux
        uses: alexellis/arkade-get@f577b52ec3feda04af5c36d637eddc1657184b7b
        with:
          print-summary: false
          flux: latest

      # # https://github.com/marketplace/actions/docker-setup-buildx
      # - name: setup docker
      #   uses: docker/setup-buildx-action@v3.2.0

      - name: run docker and push artifact
        run: |
          docker run -d --rm --name kind-registry -p 5050:5000 registry:2.8.1
          flux push artifact oci://localhost:5050/${{ github.event.repository.name }}:local \
            --path="pull/oci" \
            --source="local" \
            --revision="latest"

      # https://github.com/allenporter/flux-local
      - name: diff resources
        uses: docker://ghcr.io/allenporter/flux-local:v8.0.1@sha256:5c8cb0ff9d26a5260a47e7b3949403d80713d80037b9f0e4c02c5efca3588518
        with:
          args: >-
            diff ${{ matrix.resources }}
            --unified 6
            --path /github/workspace/pull/${{ matrix.paths }}/flux
            --path-orig /github/workspace/default/${{ matrix.paths }}/flux
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --limit-bytes 10000
            --all-namespaces
            --sources kind-flux-demo=./oci
            --output-file diff.patch

      - name: generate diff
        id: diff
        run: |
          cat diff.patch;
          {
            echo 'diff<<EOF'
            cat diff.patch
            echo EOF
          } >> "$GITHUB_OUTPUT";
          {
            echo "### Diff"
            echo '```diff'
            cat diff.patch
            echo '```'
          } >> "$GITHUB_STEP_SUMMARY"

      # https://github.com/marketplace/actions/add-pr-comment
      - name: add comment
        if: ${{ steps.diff.outputs.diff }}
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          repo-token: ${{ steps.generate-token.outputs.token }}
          message-id: ${{ github.event.pull_request.number }}/${{ matrix.paths }}/${{ matrix.resources }}
          message-failure: diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
